<div  ng-controller="RetailersDashController as vm">
  <md-content ng-show="$showOptions" class="options">
    <md-radio-group ng-model="vm.disableCaching" >
      <md-radio-button  ng-value="true">Disable caching</md-radio-button>
      <md-radio-button  ng-value="false">Enable caching</md-radio-button>
    </md-radio-group>
  </md-content>

  <md-content class="md-padding">
    <md-autocomplete placeholder="Search retailer"
                     md-selected-item="vm.selectedRetailer"
                     md-search-text="vm.searchText"
                     md-no-cache="vm.disableCaching"
                     md-items="item in vm.querySearch(vm.searchText)"
                     md-item-text="item.display">
      <span md-highlight-text="vm.searchText">{{item.display}}</span>
    </md-autocomplete>

    <p>Selected retailer:
      <b>{{vm.selectedRetailer.display || 'No retailer selected'}}</b>
    </p>
    <p>Retailer code:
      <b>{{vm.selectedRetailer.code || 'No retailer selected'}}</b>
    </p>
  </md-content>
</div>
