<!-- TODO: Add validations -->
<div class=" md-whiteframe-z1" layout-fill layout-align="center center" layout="column" style="height: 100%;">
    <div hide-sm hide-md class="md-tile-content" layout-fill layout-padding  layout="column" layout-align="center center" >
        <h1><i class="material-icons md-96">face</i> Your Profile</h1>

    </div>
</div>
<md-content md-theme="" class="md-padding" layout="row" layout-sm="column">
    <md-input-container>
        <label><h3>Username</h3></label>
        <input ng-model="vm.user.title">
    </md-input-container>
    <md-input-container>
        <label><h3>Email</h3></label>
        <input ng-model="vm.user.email" type="email">
    </md-input-container>
</md-content>
<md-content class="md-padding">
    <form name="userForm">
        <div layout layout-sm="column">
            <md-input-container flex="80">
                <label>Company (Disabled)</label>
                <input ng-model="vm.user.company" disabled>
            </md-input-container>
            <md-input-container flex>
                <label>Submission Date</label>
                <input type="date" ng-model="vm.user.submissionDate">
            </md-input-container>
        </div>
        <div layout layout-sm="column">
            <md-input-container flex>
                <label>First Name</label>
                <input ng-model="vm.user.firstName"
                       placeholder="Placeholder text">
            </md-input-container>
            <md-input-container flex>
                <label>Last Name</label>
                <input ng-model="vm.user.lastName">
            </md-input-container>
        </div>
        <md-input-container flex>
            <label>Address</label>
            <input ng-model="vm.user.address">
        </md-input-container>
        <div layout layout-sm="column">
            <md-input-container flex>
                <label>City</label>
                <input ng-model="vm.user.city">
            </md-input-container>
            <md-input-container flex>
                <label>State</label>
                <input ng-model="vm.user.state">
            </md-input-container>
            <md-input-container flex>
                <label>Postal Code</label>
                <input ng-model="vm.user.postalCode">
            </md-input-container>
        </div>
        <md-input-container flex>
            <label>About us</label>
            <textarea ng-model="vm.user.biography" columns="1"
                      md-maxlength="150"></textarea>
        </md-input-container>
    </form>
</md-content>
